# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt

# IDE
.vs/
.idea/
.vscode/
*.sln
*.csproj
*.user
*.pidb
*.booproj
*.unityproj

# OS
.DS_Store
Thumbs.db
